@import "tailwindcss";

:root {
  background-color: #fff;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes lineMove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-line1 {
  animation: lineMove 5s linear infinite;
}

.animate-line2 {
  animation: lineMove 4s linear infinite;
}

.animate-line3 {
  animation: lineMove 3s linear infinite;
}

.bg-stroke {
  --tw-bg-opacity: 1;
  background-color: rgb(238 238 238 / var(--tw-bg-opacity));
}

#LandingPage {
  background-color: #254d70;
}
#Education {
  background: linear-gradient(to top, #254d70, #f8f9ff);
}

#sidebar {
  background-image: url("../../public/assets/Group_26953.png");
  background-position: top;
  background-repeat: no-repeat;
}

#loginPage {
  background-image: url("../../public/assets/Group_26953.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#docs {
  background-image: url("../../public/assets/Group_26953.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#support {
  background-image: url("../../public/assets/Group_26953.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.incubator-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 600px;
}

.font-montserrat {
  font-family: "Monserrat", sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: black; /* Ubah warna ikon */
  filter: invert(1); /* Untuk memastikan warna berubah menjadi hitam */
  opacity: 1; /* Pastikan ikon terlihat */
}

.custom-swal {
  font-family: "Arial", sans-serif; /* Ubah font secara keseluruhan */
}

.custom-swal-title {
  font-family: "Roboto", sans-serif; /* Font untuk judul */
  font-size: 20px; /* Ukuran font untuk judul */
  font-weight: bold; /* Tebal font */
}

.custom-swal-icon {
  font-size: 8px; /* Font pada icon */
  height: 50px;
  width: 50px;
}
